* {
    color: blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: lightcyan;
}

h1 {
    text-align: center;
    font-size: xx-large;
    background-color: #66ffff;
}

h2 {
    text-align: center;
    font-size:x-large;
}


th, td {
    border: 1px solid blue;
    text-align: left;
    background-color: #ccffff;
}

.table-heading {
    background-color: #66ffff;
    font-weight: 900;
    font-size: large;
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    display: table;
}